<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Denver Happy Hours</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
  </div><!-- /.container-fluid -->
</nav>

<!-- navbar is above  -->

<div id="headerContainer">
	
</div>

<div id="content">

</div>

<div id="searchContainer">
	<div id="searchHeader">
	</div>


	<div id="neighborhood">

	</div>
	<div id="deal">

	</div>
	<div id="time">

	</div>
	<div id="day">

	</div>
	<div id="restaurantName">

	</div>
</div>
<div id="searchResultsContainer">
	<div id="searchResults">

	</div>
</div>

<div id="addContainer">

	<div id="addRestaurant">

	</div>

	<div id="addRestaurantForm">

	</div>

	<div id="addRestaurantConfirmation">

	</div>

	<div id="addDeal">

	</div>

	<div id="addDealForm">

	</div>

	<div id="addDealConfirmation">

	</div>
</div>

<!-- footer is below -->

<div class="navbar navbar-default">
    <div class="container">
      <p class="navbar-text pull-left">© 2016 - Built with blood, sweat, and tears by Kaylee McHugh.
    </div>
</div>

<!-- footer is above -->
      <script>
         $('#content').load('htmlPartials/content.html .header');

          $('#searchHeader').load('htmlPartials/content.html #searchHeader');

         $('#neighborhood').load('htmlPartials/content.html #neighborhoodSearch', function(){
         		 $('#neighborhoodSubmit').click(function(event){

		         	event.preventDefault();
		         	var search = $('input[name=neighborhood]').val();
		           
		           $.ajax({
		             type : 'GET',
		             url : '/locations/neighborhood/'+search,
		             dataType : 'JSON',
		             success : successTest
		           }).fail(function(){
		             console.log('failed');
		           });
		         });

         });

         $('#deal').load('htmlPartials/content.html #dealSearch', function(){
         			 $('#dealSubmit').click(function(event){
		         	event.preventDefault();
		         	var search = $('input[name=deal]').val();
		           
		           $.ajax({
		             type : 'GET',
		             url : '/locations/deal/'+search,
		             dataType : 'JSON',
		             success : successTest
		           }).fail(function(){
		             console.log('failed');
		           });
		         });

         });

         $('#time').load('htmlPartials/content.html #timeSearch', function() {
         	   	$('#timeSubmit').click(function(event){
		         	event.preventDefault();
		         	var search = $('input[name=time]').val();
		           
		           $.ajax({
		             type : 'GET',
		             url : '/locations/time/'+search,
		             dataType : 'JSON',
		             success : successTest
		           }).fail(function(){
		             console.log('failed');
		           });
		         });

         });

         $('#day').load('htmlPartials/content.html #daySearch', function() {
         		$('#daySubmit').click(function(event){
		         	event.preventDefault();
		         	var search = $('input[name=day]').val();
		           
		           $.ajax({
		             type : 'GET',
		             url : '/locations/day/'+search,
		             dataType : 'JSON',
		             success : successTest
		           }).fail(function(){
		             console.log('failed');
		           });
		         });

         });

         $('#restaurantName').load('htmlPartials/content.html #nameSearch' , function() {
         	$('#nameSubmit').click(function(event){
		         	event.preventDefault();
		         	var search = $('input[name=name]').val();
		           
		           $.ajax({
		             type : 'GET',
		             url : '/locations/name/'+search,
		             dataType : 'JSON',
		             success : successTest
		           }).fail(function(){
		             console.log('failed');
		           });
		         });

         });

         $('#addRestaurant').load('htmlPartials/content.html #submitRestaurant' , function() {
         	$('#submitRestaurant').click(function() {
         		console.log("loaded form");
         		$('#addRestaurantForm').load('htmlPartials/content.html #newRestaurant', function() {
         			$('#restaurantSubmit').click(function(event) {
         				event.preventDefault();
         				console.log("this is what I have for the neighborhood" + $('input[name=neighborhoodName]').val() );
         				console.log("default was prevented");
         				$.ajax({
         					type : 'POST',
         					url : '/locations/',
         					dataType : 'JSON',
         					data : {
         						name : $('input[name=restaurantName]').val(),
         						address : 
         							{   street : $('input[name=street]').val() , city : $('input[name=city]').val() ,
         								state : $('input[name=state]').val(),
         								zip : $('input[name=zip]').val()

         							},
         						neighborhood : $('input[name=neighborhoodName]').val(),
         						owner : $('input[name=owner]').val()
         					},
         					success : newRestaurant
         				}).fail(function() {
         					console.log('failed');
         				})

         			})
         		})
         			
         	
         	})
         });

         $('#addDeal').load('htmlPartials/content.html #submitDeal', function() {
         	$('#submitDeal').click(function() {
         		$('#addDealForm').load('htmlPartials/content.html #newDeal', function() {
         			$('#dealSubmitButton').click(function(event) {
         				event.preventDefault();
         				console.log('default was prevented');
         				var restaurantName = $('input[name=restaurantName]').val();
         				console.log("THis is what I have for the restaurant name" + restaurantName);
         				console.log("this is what I have for the time" + $('input[name=timeOfDay]').val() );
         					$.ajax({
         					type : 'POST',
         					url : '/locations/addDeal/'+restaurantName,
         					dataType : 'JSON',
         					data : {
         						dealType : $('input[name=dealType]').val(),
         						description : $('input[name=description]').val(),
         						time : $('input[name=timeOfDay]').val(),
         						days : $('input[name=days]').val()
         					},
         					success : newDeal
         				}).fail(function() {
         					console.log('failed');
         				})
         			})
         		});
         		//console.log("also clicked");
         	})
         });

  
         function successTest(data){
         	console.log("made it into success test");
         	console.log(data);
         	 $('#searchResults').empty();

         	var restaurant = [];
	          // var $ul = $('<ul>');
	           data.forEach(function(elem, index){

	             // var $li = $('<li>');
	             var elemUL = $('<ul>');
	             for(p in elem){
	             	if (p != "_id") {
	             		if (p != "owner") {
	             			if(p != "__v") {
	             				if(p != "deal") {
	             					if(p != "address") {
						               var elemLI= $('<li>');
						               elemLI.text(p + " : " + elem[p]);
						               elemUL.append(elemLI);
				               		}
				           		}	
	               			}
	               		}
	           		}
	      
	           		if(p == "deal") {
	           			var dealUL = $('<ul>');
	             		for (var i = 0; i < elem[p].length; i++) {	
	             			var dealHeaderLI = $('<li>');
	             			var daysLI = $('<li>');
	             			var timeLI = $('<li>');
	             			var descriptionLI = $('<li>');
	             			var dealTypeLI = $('<li>');
	             			dealHeaderLI.text("DEAL");
	             			daysLI.text(elem[p][i].days + " ");
	             			timeLI.text(elem[p][i].time + " ");
	             			descriptionLI.text(elem[p][i].description + " ");
	             			dealHeaderLI.css('background-color' , 'yellow');
	             			dealHeaderLI.css('color' , 'black');
	             			dealHeaderLI.css('font-size' , '20px');
	             			dealTypeLI.text(elem[p][i].dealType + " ");
	             			dealUL.append(dealHeaderLI);
	             			dealUL.append(daysLI);
	             			dealUL.append(timeLI);
	             			dealUL.append(descriptionLI);
	             			// dealUL.append(dealTypeLI);
	             			elemLI.append(dealUL);
	             			elemUL.append(elemLI);
	             			console.log("THIS IS WHAT'S PRINTING");
	             		}
	             	}

	           		if(p == "address") {
	           			var address = [];
	           			
	             		for (var i = 0; i < elem[p].length; i++) {	
	             			
	             			address.push(elem[p][i].street + " ");
	             			address.push(elem[p][i].city + " ");
	             			//address.push(elem[p][i].state + " ");
	             			// // dealHeaderLI.css('background-color' , 'yellow');
	             			// // dealHeaderLI.css('color' , 'black');
	             			// // dealHeaderLI.css('font-size' , '20px');
	             			address.push(elem[p][i].zip + " ");
	             		
	             			elemUL.append(address);
	             			console.log("THIS IS WHAT'S PRINTING");
	             		}
	             	}
	      


	             }
	             $('#searchResults').append(elemUL);
	             // $li.append(elemUL);
	             
	             // $ul.append($li);
	           });
				// $('#searchResults').append(restaurant);
	           // $('#searchResults').append(elemUL);
         }

                function successTest2(data){
         	console.log("made it into success test");
         	console.log(data);
         	var restaurant = [];
	          
	           data.forEach(function(elem, index){
	           
	             for(p in elem){
	             	if (p != "deal") {
	             		restaurant.push(p + " : " + elem[p] + " ");
	             	}

	             	if(p == "deal") {
	             		for (var i = 0; i < elem[p].length; i++) {	
	             			console.log("THIS IS WHAT'S PRINTING");
	             			restaurant.push("Deals ");
	             			restaurant.push(elem[p][i].days + " ");
	             			restaurant.push(elem[p][i].time + " ");
	             			restaurant.push(elem[p][i].description + " ");
	             			restaurant.push(elem[p][i].dealType + " ");
	             			console.log(elem[p][i].days);
	             			console.log(elem[p][i].time);
	             			console.log(elem[p][i].description);
	             			console.log(elem[p][i].dealType);
	             		}
	             	}
	             	 if(p == "address") {
	             		console.log("IN ADDRESS LOOP 1")
	             		restaurant.push("Address ");
	             		restaurant.push(elem[p].street + " ");
	             		restaurant.push(elem[p].zip + " ");
	             		restaurant.push(elem[p].city + " ");
	             		restaurant.push(elem[p].state + " ");

	             		console.log(elem[p].street);
	             		console.log(elem[p].zip);
	             		console.log(elem[p].city);
	             		console.log(elem[p].state);

	             	}
	             	
	             	restaurant.push("\t");

	              
	             }
	          
	           });
	           $('#searchResults').append(restaurant);
         }

         function newRestaurant(data){
         	$( '#addRestaurantForm' ).empty();
         	$( '#addRestaurantConfirmation' ).empty();
         	$('#addRestaurantConfirmation').append('<h3> You just added a place to our list - thanks so much! Want to add a deal below?</h3>');
         	var $p = $('<p>');
         	var text = [];

         	for(p in data){
         		if(p == "name" || p == "neighborhood") {
         			text.push(p + " : " + data[p] + " ");
	           		}
	           		 //  	if(p == "address") {
	           			// var addressUL = $('<ul>');
	             	// 	for (var i = 0; i < data[p].length; i++) {	
	             	// 		var addressHeaderLI = $('<li>');
	             	// 		var streetLI = $('<li>');
	             	// 		var cityLI = $('<li>');
	             	// 		var stateLI = $('<li>');
	             	// 		var zipLI = $('<li>');
	             	// 		addressHeaderLI.text("DEAL");
	             	// 		streetLI.text(data[p][i].street + " ");
	             	// 		cityLI.text(data[p][i].city + " ");
	             	// 		stateLI.text(data[p][i].state + " ");
	             	// 		zipLI.text(data[p][i].zip + " ");
	             	// 		dealUL.append(addressHeaderLI);
	             	// 		dealUL.append(streetLI);
	             	// 		dealUL.append(cityLI);
	             	// 		dealUL.append(zipLI);
	            
	             	// 	}
	             	// }
	           		console.log(p + " : " + data[p]);
	             }
	        $('#addRestaurantConfirmation').append(text);  
	        // $('#addRestaurantConfirmation').append(addressUL);   
         }

         function newDeal(data) {
         	$( '#addDealForm' ).empty();
         	$( '#addDealConfirmation' ).empty();
         	$('#addDealConfirmation').append('<h3> You just added a deal to to our list - thanks so much!</h3>');
         	
         	$('#addDealConfirmation').append(data);
         }
      
      </script>